<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="Ie=edge" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <title>Vintage Quest</title>
    <link rel="icon" href="/Images/old is gold-logos.jpeg">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {%load static%}
        <link rel="stylesheet" href="{%static 'style.css'%}" />
  </head>
  <body>
    <section id="header">
      <a href="#"
        ><img
          src="Images/old is gold-logos.jpeg"
          class="logo"
          width="100px"
          height="50px"
      /></a>
      <div>
        <ul id="navbar">
          <li><a class="active" href="index.html"style="font-family:Times New Roman;">Home</a></li>
          <li><a href="shop.html"style="font-family:Times New Roman;">Shop</a></li>
          <li><a href="blog.html"style="font-family:Times New Roman;">Blog</a></li>
          <li><a href="about.html"style="font-family:Times New Roman;">About</a></li>
          <li><a href="contact.html"style="font-family:Times New Roman;">Contact</a></li>
          <li id="lg-bag">
            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
          </li>
          <a href="#" id="close"><i class="fa fa-times" aria-hidden="true"></i></a>
        </ul>
      </div>
      <div id="mobile">
        <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
        <i id="bar" class="fa fa-outdent" aria-hidden="true"></i>
      </div>
    </section>
    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
           <img src="Images/camera2.jpeg" width="100%" id="MainImg"alt="">
           <div class="small-img-group">
            <div class="small-img-col">
                <img src="Images/camera2.jpeg"width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="Images/camera1.jpeg" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="Images/camera3.jpeg" width="100%" class="small-img" alt="">
           </div>
           <div class="small-img-col">
            <img src="Images/camera5.jpeg" width="100%" class="small-img" alt="">
       </div>
        </div>
    </div>
            
        <div class="single-pro-details">
           <h6>Camera</h6>
           <h4> Vintage Camera Espanol</h4>
           <h2>$33.56</h2>
           <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <input type="number" value="1">
        <button class="normal">Add To cart</button>
        <h4>Product Details</h4>
        <span>
          The Korona IIB is a vintage large-format camera
           made by the Gundlach Optical Company in the early
            20th century. It's known for its sturdy wood and brass 
            construction, bellows design for focus and tilt adjustments, 
            and various lens options. These cameras are prized by collectors 
            and photographers for their historical significance and versatility in photography.</span>
        </div>
    </section>
    <section id="product1" class="section-p1">
      <h2>Featured Products</h2>
      <p>We deliver happiness to your doorstep
        where every click is a deal !
      </p>
      <div class="pro-container">
        <div class="pro">
          <img src="Images/typ.jpg">
          <div class="des">
            <span>Imperial Typewriter </span>
            <h5>Vintage Typewriter Espanol</h5>
            <div class="star">
              <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star"></i>
                    
            <h4>$33.56</h4>
          </div>
      </div> 
      <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
        <img src="Images/wase.jpg">
        <div class="des">
          <span>Johnson's Cluster</span>
          <h5>Royal Flowerwase</h5>
          <div class="star">
            <i class="fa fa-star checked"></i>
                  <i class="fa fa-star checked"></i>
                  <i class="fa fa-star checked"></i>
                  <i class="fa fa-star-half-o" ></i>
                  <i class="fa fa-star-o"></i>
          <h4>$29.99</h4>
        </div>
    </div> 
    <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="Images/tramp.png">
      <div class="des">
        <span>Tranphone</span>
        <h5>Gramograph</h5>
        <div class="star">
          <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
        <h4>$45.55</h4>
      </div>
  </div> 
  <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
  </div>
  <div class="pro">
    <img src="Images/hand.webp">
    <div class="des">
      <span>Mani Overseas</span>
      <h5>Hand Statue</h5>
      <div class="star">
        <i class="fa fa-star checked"></i>
              <i class="fa fa-star checked"></i>
              <i class="fa fa-star checked"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
      <h4>$55.56</h4>
    </div>
</div> 
<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
</div>
    </section>
    <section id="newletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4>Sign Up  For Newletters</h4>
        <p>Get E-mail Updates About Our New Arrivals <span> Special Offer!!</span></p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal button-radius">Sign Up</button>
      </div>
    </section>
    <footer class="section-p1">
      <div class="col">
        <a href="#"
        ><img
          src="Images/old is gold-logos.jpeg"
          class="logo"
          width="100px"
          height="50px"
      /></a>
       <h4>Contact</h4>
        <p><strong>Address: </strong> Khanapur , 504-203 , Vidhyanagar , Telangana.
        </p>
        <p><strong>Phone: </strong> (+91)9010102210/(+91)9989569687</p>
        <p><strong>Hours: </strong> 10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
          <h4>Follow us</h4>
          <div class="iconi">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-github" aria-hidden="true"></i>
            <i class="fa fa-youtube" aria-hidden="true"></i>
            <i class="fa fa-pinterest" aria-hidden="true"></i>
          </div>
        </div>
      </div> 
      <div class="col">
        <h4>About</h4>
        <a href="about.html">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="terms.html">Privacy Policy</a>
        <a href="terms.html">Terms & Conditions</a>
        <a href="contact.html">Contact Us</a>
      </div>
      <div class="col">
        <h4>My Account</h4>
        <a href="Login.html">Sign In</a>
        <a href="cart.html">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>
    
    <div class="col install">
      <h4>Install App</h4>
      <p>From App Store or Google Play</p>
      <div class="row">
        <a href="https://www.apple.com/in/app-store/" target="_blank"><img src="Images/app.jpg"></a>
        <a href="https://play.google.com/store/games?hl=en&gl=US" target="_blank"><img src="Images/play.jpg"></a>
      </div>
      <p>Secured Payment Gateways</p>
        <img src="Images/pay.png" >
        </div>
     <div class="copyright">
        <p>© 2023, ManojSanda co. - VintageQuest Inc. All rights reserved</p>
      </div>
   </footer>
   <script>
      var MainImg=document.getElementById("MainImg");
      var smallimg=document.getElementsByClassName("small-img");

      smallimg[0].onclick=function()
      {
        MainImg.src=smallimg[0].src;
      }
      smallimg[1].onclick=function()
      {
        MainImg.src=smallimg[1].src;
      }
      smallimg[2].onclick=function()
      {
        MainImg.src=smallimg[2].src;
      }
      smallimg[3].onclick=function()
      {
        MainImg.src=smallimg[3].src;
      }
    </script>
    <script src="script.js"></script>
  </body>
</html>
